.ant-carousel .slick-prev,
  .ant-carousel .slick-prev:hover,
  .ant-carousel .slick-prev:focus {
    font-size: inherit;
    z-index: 2;
    font-size: 20px;
    left: -20px;
    color: rgb(255, 255, 255);
  }

  .ant-carousel .slick-next,
  .ant-carousel .slick-next:hover,
  .ant-carousel .slick-next:focus {
    font-size: inherit;
    z-index: 2;
    font-size: 20px;
    right:-20px;
    color: rgb(255, 255, 255);
  }

