
/* Add your profile image here */
.Photo{
    background-image: url('https://junweioss.oss-rg-china-mainland.aliyuncs.com/image/jun_profile.jpg');
}
/* Projects Photo */
.project1{
    background-image: url('https://junweioss.oss-rg-china-mainland.aliyuncs.com/image/beool_cover.jpg');
    cursor: pointer;    
}

.project2{
    background-image: url('https://junweioss.oss-rg-china-mainland.aliyuncs.com/image/pacs/2.jpg');
    cursor: pointer; 
}
.project3{
    background-image: url('https://junweioss.oss-rg-china-mainland.aliyuncs.com/image/meta_zoom_cover.jpg');
    cursor: pointer; 
}
.project4{
    background-image: url('https://junweioss.oss-rg-china-mainland.aliyuncs.com/image/lockdown_admin_list3.jpg');
    cursor: pointer;
}
.project5{
    background-image: url('https://junweioss.oss-rg-china-mainland.aliyuncs.com/image/foodcourt_cover.jpg');
    cursor: pointer;
}
.project6{
    background-image: url('https://junweioss.oss-rg-china-mainland.aliyuncs.com/image/official_web/official_website_cover.jpg');
    cursor: pointer;
}
.project7{
    background-image: url('https://junweioss.oss-rg-china-mainland.aliyuncs.com/image/HIS_cover.jpg');
    cursor: pointer;
}

.project8{
    background-image: url('https://junweioss.oss-rg-china-mainland.aliyuncs.com/image/nhibs_cover.jpg');
    cursor: pointer;
}

/* Miscelaneous Activities photo */
.inp1{
    background-image: url('https://junweioss.oss-rg-china-mainland.aliyuncs.com/image/ai-jigsaw/WechatIMG598.jpg');
    cursor: pointer;
}
